  * {
    box-sizing: border-box;
   
   
    }
  
  .App{
    background-image: url("../images/room-with-concrete-floor-smoke-background_9083-2991.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
  }
 
.App-search {
    margin : 0;
    padding: 0; 
    width: 100%;
    min-height: 110vh;
  }
  
  .header {
    background-color: #ffa806;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 20px;
  }
  
  .header h2 {
    margin: 0;
  }
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  .slogan{
    font-size: large; 
    margin-left: 350px;
    color: white;
  }
  

  .movies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .movie {
    padding: 15px 25px 10px 25px;
    max-width: 25%;
  }

  .search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
  
  
  input[type="submit"] {
    padding: 5px;
  //  background-color: transparent;
    color: black;
    border: 1px solid black;
    width: 150px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  
  input[type="submit"]:hover {
    
    background-color: #f1075d;
    color: antiquewhite;
  }

  .search {
    input[type="text"]{
    width: 60%;
    min-width: 170px;
    color: black;
    }
  }

  .detailMovie{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    width: 60%;
    margin: 0 auto;
    min-height: 90vh;
    margin-top: 50px;
    color: white;
  }

  @media screen and (min-width: 694px) and (max-width: 915px) {
    .movie {
      max-width: 33%;
    }

    .container {
      width: 90%;
      margin: 0 auto;
    }

    .detailMovie{  
      width: 70%
    }
    .slogan{
     
      margin-left: 200px;
     
    }
  }
  
  @media screen and (min-width: 652px) and (max-width: 693px) {
    .movie {
      max-width: 80%;
    }
    .detailMovie{
      width: 90%;
      margin: 0 auto;
      column-gap: 20px;
      margin-top: 50px;
    }
    .slogan{
     
      margin-left: 100px;
     
    }
    .search {
      input[type="text"]{
      width: 70%;
      min-width: 140px;
      
      }
    }

    input[type="submit"] {
    
      width: 110px;
    
    }
  }
  
  
  @media screen and (max-width: 651px) {
    .movie {
      max-width: 80%;
      margin: auto;
    }
    .detailMovie{
      max-width: 100%;
    }.detailMovie{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 80%;
      margin: 0 auto;
      column-gap: 20px;
      margin-top: 50px;
    }
    .slogan{
      
      margin-left: 50px;
     
    }

    input[type="submit"] {
    
      width: 110px;
    
    }
    

    .search {
      input[type="text"]{
      width: 50%;
      min-width: 140px;
      
      }
    }
  }